
@{
    ViewData["Title"] = "Dashboard";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
       <div class="col-md-6 offset-3">
           <img class="img-fluid" st src="~/DIH² logo orange.png" />
       </div>
    </div>
</div>
